body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .App {
    width: 500px;
    padding: 20px 30px 20px 20px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 60px 40px rgb(0 0 0/ 10%);
  }

    .display-area {
    height: 300px; 
    overflow-y: scroll;
    }
  
  
  .input-area {
    padding-bottom: 20px;
    border-bottom: 1px solid darkgray;
  }
  
  h2 {
    font-size: 18px;
  }
  
  input {
    border: none;
    background: #f2f2f5;
    padding: 10px 12px;
    width: 300px;
  }
  
  .input-1,
  .input-2,
  .input-3 {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .input-1 {
    gap: 52px;
  }
  
  .input-2 {
    gap: 65px;
  }
  
  .input-3 {
    gap: 36px;
  }
  
  button {
    border: none;
    padding: 10px 25px;
    background: #5563c1;
    color: white;
  }
  
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  td {
    text-align: left;
    padding: 2px 5px;
  }