.form-control {
    box-sizing: border-box; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.form-control:focus {
    border-color: #000000;
    outline: none;
}
